In [1]:
import numpy as np
import pandas as pd

In [4]:
nba_player_index= pd.read_csv('../data/player_index.csv')
nba_player_index.head()

,Unnamed: 0,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
0,0,76001,Abdelnaby,Alaa,alaa-abdelnaby,1610612757,blazers,0,Portland,Trail Blazers,...,1990.0,1.0,25.0,NaN,5.7,3.3,0.3,Career,1990,1994
1,1,76002,Abdul-Aziz,Zaid,zaid-abdul-aziz,1610612745,rockets,0,Houston,Rockets,...,1968.0,1.0,5.0,NaN,9.0,8.0,1.2,Career,1968,1977
2,2,76003,Abdul-Jabbar,Kareem,kareem-abdul-jabbar,1610612747,lakers,0,Los Angeles,Lakers,...,1969.0,1.0,1.0,NaN,24.6,11.2,3.6,Career,1969,1988
3,3,51,Abdul-Rauf,Mahmoud,mahmoud-abdul-rauf,1610612743,nuggets,0,Denver,Nuggets,...,1990.0,1.0,3.0,NaN,14.6,1.9,3.5,Career,1990,2000
4,4,1505,Abdul-Wahad,Tariq,tariq-abdul-wahad,1610612758,kings,0,Sacramento,Kings,...,1997.0,1.0,11.0,NaN,7.8,3.3,1.1,Career,1997,2003